	body{
		background:url(back.gif);
		color: white;
		font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	}
	h1{
		text-align: center;
		color: black;
		text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
		margin: 1% 1%;
		font-size: 300%;
	}
	.item 
	{
		display: inline-block;
		border: groove;
		border-radius: 5px;
		background-color: rgba(255, 255, 255, 0.6);
		color: black;
		height: 150px;
		width: 35%;
		margin: 10px;
		padding: 10px 10px 10px 10px;
	}
	img{
		width: 100px;
		height: 100px;
		margin-left: 30px;
	}
	#pic, #description{
		display: inline-block;
	}
	input{
		border-radius: 3px;
		padding: 5px;
		color: black;
	}
	#butt{
		margin-top: 10px;
		background-color: rgba(0, 0, 0, 0.8);
		color: white;
	}
	#customers{
		margin-left:10px;
		color: black;
	}
	#products{
		width: 80%;
		margin: 0% 18%;
	}

	table
	{
		border-collapse:collapse;
	}
	table, th, td
	{
		text-align: center;
		border: 1px solid black;
		border-color: white;
	}
	th{
		background-color: black;
		color: white;
		padding:5px;
		width: 40%;
	}
	#delete{
		background-color:rgba(255, 255, 255, 0.3);
	}
	#top{
		background: rgba(0, 0, 0, 0.8);
		padding: 2%;
		padding-top:0px;
		border:ridge;
		border-radius: 5px;
		width: 25%;
		margin: 0% 36%;
	}
	h2{
		margin: 5% 0%;
	}

	#checkout{
		font-weight: bold;
		margin-top: 8%;
		background-color: #F5F6CE;
		color: black;

	}
